@model IEnumerable<Gym>
@{
    Layout = "_Layout";
    ViewData["Title"] = "List";
}

<div class="row">
    @foreach (var g in Model)
    {
        <div class="col-sm-12 col-lg-6 col-xl-4 pt-1 border">
            <div class=" training-tile border-radius p-3">
                <h4>
                    @g.Name
                </h4>
                @g.City
                @g.Street @g.Number
                @g.PostCode @g.City
                @if (@g.Trainings != null)
                {
                    @foreach (var training in @g.Trainings)
                    {
                        <h5>
                            @training.Description
                        </h5>
                    }
                }
                else
                {
                    <h5>
                        No trainings in this gym.
                    </h5>
                }
                <a asp-controller="admin" asp-action="edit" asp-route-id="@g.GymId">
                    <button class="btn btn-dark w-100"> Edit </button>
                </a>
                <p></p>
                <a asp-controller="admin" asp-action="delete" asp-route-id="@g.GymId">
                    <button class="btn btn-dark w-100"> Delete </button>
                </a>
            </div>
        </div>
    }
</div>